
.atg-plan-01:before { content: '\21'; } /* '!' */
.atg-meet-01:before { content: '\22'; } /* '&quot;' */
.atg-server-01:before { content: '\23'; } /* '#' */
.atg-tools-01:before { content: '\24'; } /* '$' */
.atg-launch-01:before { content: '\25'; } /* '%' */
.atg-idea-01:before { content: '\26'; } /* '&amp;' */
.atg-idea-02:before { content: '\27'; } /* ''' */
.atg-communicate-01:before { content: '\28'; } /* '(' */
.atg-communicate-02:before { content: '\29'; } /* ')' */
.atg-task-list-01:before { content: '\2a'; } /* '*' */
.atg-database-01:before { content: '\2b'; } /* '+' */
.atg-engineer-01:before { content: '\2c'; } /* ',' */
.atg-engineer-02:before { content: '\2d'; } /* '-' */
.atg-api-01:before { content: '\2e'; } /* '.' */
.atg-bug-report-01:before { content: '\2f'; } /* '/' */
.atg-analytics-01:before { content: '\30'; } /* '0' */
.atg-coding-01:before { content: '\31'; } /* '1' */
.atg-design-tools-01:before { content: '\32'; } /* '2' */
.atg-code-funnel-01:before { content: '\33'; } /* '3' */
.atg-architect-01:before { content: '\34'; } /* '4' */
.atg-package-01:before { content: '\35'; } /* '5' */
.atg-binary-01:before { content: '\36'; } /* '6' */
.atg-project-manager-01:before { content: '\37'; } /* '7' */
.atg-communicate-03:before { content: '\38'; } /* '8' */
.atg-guarantee-01:before { content: '\39'; } /* '9' */
.atg-directions-01:before { content: '\3a'; } /* ':' */
.atg-cloud-01:before { content: '\3b'; } /* ';' */
.atg-wireframe-01:before { content: '\3c'; } /* '&lt;' */
.atg-idea-03:before { content: '\3d'; } /* '=' */
.atg-plan-02:before { content: '\3e'; } /* '&gt;' */
.atg-strategy-01:before { content: '\3f'; } /* '?' */
.atg-strategy-02:before { content: '\40'; } /* '@' */
.atg-product-owners-01:before { content: '\41'; } /* 'A' */
.atg-cloud-02:before { content: '\42'; } /* 'B' */
.atg-user-experience-01:before { content: '\43'; } /* 'C' */
.atg-communicate-04:before { content: '\44'; } /* 'D' */
.atg-quality-assurance-01:before { content: '\45'; } /* 'E' */
.atg-user-01:before { content: '\46'; } /* 'F' */