$c_pri: #a30a0a;
$c_sec: #ffa700;
$c_dark: #707070;
$c_light: #e3e3e3;
$f_base: 15px;
$s_gap: 8%;
$break: 400px;

#TimelineFrame {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font: bold 1em/1.5em Helvetica, sans-serif;
  font-size: $f_base;
  color: $c_dark;

  @media only screen and (min-width: $break) {
    width: 375px;
    background: transparent url("images/bg@2x.png") no-repeat center center;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: $break - 1px) {
  .position-wrapper .positioned {
    width: 90%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: $break) {
  .position-wrapper {
    position: relative;
  }
  .position-wrapper .positioned {
    position: absolute;
    height: 94%;
  }
}
.label {
  padding: 4% 0;
  font-size: 0.7em;

  @media only screen and (min-width: $break) {
    display: none;
    position: absolute;
    top: 30%;
    left: -7%;
    width: 104%;
    padding: 4%;
    border-radius: 3px;
    border: 1px solid $c_dark;
    background: #fff;
    font-size: 0.25em;
    line-height: 1em;
    color: $c_dark;
  }
}
.artifact,
.actor,
.environment {
  position: relative;
  margin: 0 0 4px 0;
  width: 90%;
  border-radius: 5px;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;

  @media only screen and (min-width: $break) {
    &:hover .label {
      display: block;
    }
    margin: 0 0 $s_gap 41.5%;
    width: 18%;
    height: 19%;
    text-align: center;
    font-size: 3em;
  }
}
.environment {
  border: 3px solid $c_dark;
  background: $c_light;
  text-align: center;
  color: $c_dark;

  .artifact {
    display: inline-block;
    border: none;
    background: none;
    font-size: 1em;
    color: $c_dark;

    @media only screen and (max-width: $break - 1px) {
      padding-top: 3px;

      .label {
        display: none;
      }
    }
    @media only screen and (min-width: $break) {
      margin: 0;
      width: 40%;
    }
  }

  p {
    margin: 0 2px;
    padding: 0;
    font-size: 0.75em;
    line-height: 1.125em;

    @media only screen and (max-width: $break - 1px) {
      display: inline-block;
    }
    @media only screen and (min-width: $break) {
      margin: 0 -7%;
      border-radius: 5px;
      border: 2px solid $c_dark;
      background: #fff;
      font-size: 0.5em;
    }
  }
  @media only screen and (min-width: $break) {
    margin-left: 30.5%;
    width: 40%;
    height: 42%;
  }
}
.artifact {
  border: 3px solid #7b0909;
  background: $c_pri;
}
@media only screen and (min-width: $break) {
  .artifact.qa-feedback {
    left: -41%;
  }
  .artifact.dev-feedback {
    left: 38.5%;
  }
  .demonstrate.artifact.qa-feedback {
    bottom: 0;
    height: 41%;
  }
}
.actor {
  border: 3px solid #c48101;
  background: $c_sec;

  &:last-child {
    margin-bottom: 0;
  }
}
.table {
  position: relative;
  margin: 0 0 4px;
  padding: 4px;
  border-radius: 5px;
  border: 3px solid $c_dark;
  background: $c_light;

  @media only screen and (max-width: $break - 1px) {
    width: 88%;

    .actor {
      width: auto;
    }
  }
  @media only screen and (min-width: $break) {
    width: 58%;
    margin: 0 0 $s_gap 22.5%;
    padding: 0;
    border-radius: 50%;
    border: none;

    .actor {
      width: 32%;
      height: 45%;
      margin-left: 32.5%;
    }
    .actor:nth-child(1) {
      position: relative;
      margin-bottom: 36%;
    }
    .actor:nth-child(2),
    .actor:nth-child(3) {
      position: absolute;
      top: 33.5%;
      height: 30%;
    }
    .actor:nth-child(2) {
      left: -33%;
    }
    .actor:nth-child(3) {
      right: 0;
    }
    .actor:nth-child(4) {
      position: relative;
    }
  }

  p {
    text-align: center;

    @media only screen and (max-width: $break - 1px) {
      margin: 0;
    }
    @media only screen and (min-width: $break) {
      position: absolute;
      top: 40%;
      left: 35%;
      width: 29%;
      font-size: 0.75em;
      line-height: 1.25em;
    }
  }
}
